.alternate {font-family: 'PacificoRegular', script;	}
.lead { font:16px/30px 'ColaborateRegular', Arial, sans-serif ; }
.colored {color:#18aedf;}
.mutted {}
.writting {}
.upp {}
.p-title {}
.alignleft {float:left; margin-right:20px}
.alignright {float:right; margin-left:20px}
