.themefontcolor-color span {
	display: inline-block;
	/*float: left; */
	/*font-size: 0; */
	border: 1px solid #ccc; 
	/*padding: 0; */
  margin-right: 5px;
  margin-bottom: -3px;
  width: 7px;
  height: 16px;
}
.ccm-ui .dropdown-menu>li>span {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-weight: bold;
}